@import 'variables/variables';
.navigation {
  height: 10rem;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 100;
}
html {
  background: $__home-full-width;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-height: 900px;
}
body {
  background-color: rgba(0,0,0,0);
}
.footer {
  background: #231F20;
  height: 10rem;
  padding:2rem;
}
.follow {
  margin-top:20%;
}
.events {
  position: absolute;
  top: 1000px;
  background: white;
  text-align: center;
  padding-top:5rem;
}
.events img {
  height: 425px;
  width: auto;
  padding:4rem;
}
